.cm-editor {
	display: flex;
	padding-top: 2em;
	flex: 1;
	.cm-scroller {
		height: 100%;
		overflow: hidden;
	}
}

.cm-gutters {
	display: inline;
}

.ͼ1.cm-focused {
	outline: none;
}

.cm-panels-bottom {
	background-color: #2d2f33 !important;
}
.ͼ1u .cm-fat-cursor {
	outline: solid 1px #6b7ff2 !important;
	background-color: #6b7ff2 !important;
}
// .cm-fat-cursor .cm-cursor-primary {
// 	outline: solid 1px #6b7ff2 !important;
// }
// .ͼ1v:not(.cm-focused) .cm-fat-cursor {
// 	background-color: #6b7ff2 !important;
// 	outline: solid 1px #6b7ff2 !important;
// }
.ͼ15 .cm-selectionLayer .cm-selectionBackground {
	background-color: #878a8c30 !important;
}
