#markdown-preview {
	color: rgb(223, 223, 223);
	background-color: #2d2f33 !important;
	min-width: 200px;
	flex: 1;
	padding: 2em;
	height: 100%;
	overflow: auto;
	pre {
		background-color: #ffffff15;
		padding: 0.8em !important;
	}
	blockquote {
		border-left-color: #ffffff50;
	}
}

.markdown-body {
	&::-webkit-scrollbar {
		width: 0.3em;
	}

	&::-webkit-scrollbar-track {
		// box-shadow: ;
		background-color: #222326;
	}

	&::-webkit-scrollbar-thumb {
		background: #878a8c70;
	}
}
.pane {
	border-right: #ffffff60 solid 2px;
}
