#markdown-preview {
	color: rgb(223, 223, 223);
	background-color: #2d2f33 !important;
	pre {
		background-color: #ffffff15;
		padding: 0.8em !important;
	}
	blockquote {
		border-left-color: #6b7ff2;
		color: #d9d9d980;
	}
	h1 {
		font-size: 1.8rem;
	}
	h1,
	h2,
	h3 {
		border: none;
		margin: 10px 0px;
		font-weight: 800;
	}
	a {
		color: #6b7ff2;
	}
	td,
	th,
	tr {
		background-color: transparent !important;
		color: #d9d9d9 !important;
		border: #6b7ff2 2px solid !important;
	}
	td {
		max-width: 500px;
	}
	th {
		text-align: left;
	}

	section.footnotes,
	li[id^="user-content-fn-"] {
		color: #d9d9d9;
	}
	section.footnotes {
		border-top: #d9d9d980 2px solid;
	}
}

.pane {
	border-right: #ffffff60 solid 2px;
}
