#markdown-preview {
	color: rgb(223, 223, 223);
	background-color: #2d2f33 !important;
	pre {
		background-color: #ffffff15;
		padding: 0.8em !important;
	}
	blockquote {
		border-left-color: #ffffff50;
	}
	h1,
	h2,
	h3 {
		border: none;
		margin: 10px 0px;
		font-weight: 800;
	}
	a {
		color: #6b7ff2;
	}
	td,
	th,
	tr {
		background-color: transparent !important;
		color: #d9d9d9 !important;
		border: #6b7ff2 2px solid !important;
	}
	th {
		text-align: left;
	}

	section.footnotes,
	li[id^="user-content-fn-"] {
		color: #d9d9d9;
	}
	section.footnotes {
		border-top: #d9d9d980 2px solid;
	}
}

.markdown-body {
	&::-webkit-scrollbar {
		width: 0.6em;
	}

	&::-webkit-scrollbar-track {
		background-color: #22232600;
	}

	&::-webkit-scrollbar-thumb {
		background: #878a8c50;
	}

	&::-webkit-scrollbar-thumb:hover {
		background: #878a8c70;
	}
	&::-webkit-scrollbar-thumb:active {
		background: #878a8c90;
	}
}
.pane {
	border-right: #ffffff60 solid 2px;
}
