.sidebar-inactive {
  // transition: width 100ms ease-in-out;
  width: 0%;
  box-shadow: none;
  #notes-list {
    display: none;
    opacity: 0;
  }
  #sidebar-actions {
    border: none;
    display: none;
  }
}

@keyframes notelistActiveAnim {
  from {
    overflow: hidden;
    display: none;
    opacity: 0;
  }
  to {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 1;
  }
}

.sidebar-active {
  // transition: width 100ms ease-in-out;
  width: 350px;
  #notes-list,
  input {
    // animation: notelistActiveAnim 150ms forwards ease-in-out;
    overflow-y: auto;
    overflow-x: hidden;
  }
  #sidebar-actions {
    display: flex;
    button {
      display: block;
    }
  }
}

@media (max-width: 400px) {
  .sidebar-active {
    width: 100%;
    box-shadow: none;
  }
}
