.App {
	min-width: 500px;
}

input[type="search"] {
	appearance: none;
	-webkit-appearance: none;
	border: none;
}

a.active {
	background-color: #878a8c30;
	border-left-color: #6b7ff2;
	border-left-width: 4px;
}
