@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "inter";
  src: url("../src/assets/fonts/Inter-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "inter";
  src: url("../src/assets/fonts/Inter-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "inter";
  src: url("../src/assets/fonts/Inter-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "inter";
  src: url("../src/assets/fonts/Inter-SemiBold.woff2") format("woff2");
  font-style: nomal;
  font-weight: 600;
}

@font-face {
  font-family: "inter";
  src: url("../src/assets/fonts/Inter-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "inter";
  src: url("../src/assets/fonts/Inter-ExtraBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
}

.App {
  min-width: 500px;
  font-family: inter, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-decoration: none;
  list-style: none;
  *::-webkit-scrollbar {
    height: 0.6em;
    width: 0.6em;
  }

  *::-webkit-scrollbar-track {
    // box-shadow: ;
    background-color: #22232600;
  }

  *::-webkit-scrollbar-corner {
    background-color: #22232600;
  }

  *::-webkit-scrollbar-thumb {
    background: #878a8c50;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: #878a8c70;
  }
  *::-webkit-scrollbar-thumb:active {
    background: #878a8c90;
  }
}

input[type="search"],
input[type="search"]::-webkit-search-cancel-button {
  appearance: none;
  -webkit-appearance: none;
  border: none;
}

#notes-list {
  a.active {
    transition: all 100ms ease-in-out;
    background-color: #878a8c20;
    border-left-color: #6b7ff2;
    border-left-width: 4px;
  }
}
// .side-menu {
//   & > *a.active {
//     transition: all 100ms ease-in-out;
//     background-color: #878a8c20;
//     border-left-color: #6b7ff2;
//     // border-left-width: 0px;
//   }
// }
@media (max-width: 400px) {
  .side-menu {
    & > *a.active {
      border: 0;
    }
  }
}

.btn-actions {
  transition: all 150ms ease-in;
  &:hover {
    filter: invert(44%) sepia(55%) saturate(1036%) hue-rotate(202deg)
      brightness(102%) contrast(90%);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  color: white;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: none;
  transition: background-color 10000s ease-in-out 0s;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  overflow: hidden;
  background-color: #222326;
}
