#auth {
	@media screen and (max-width: 870px) {
		#left-auth-contents {
			display: none;
		}
		#auth-form-section {
			width: 100%;
			box-sizing: border-box;
		}
		#instruct-user-txt {
			h1 {
				font-size: 1.8rem;
			}
		}
	}
}

@media screen and (min-height: 1120px) {
	.split-started {
		flex-direction: column;
		gap: 6;
	}
	#auth-contents {
		h2 {
			font-size: 1.6rem;
			margin-bottom: 0.4em;
		}
		p {
			font-size: 1.2rem;
		}
	}
	#welcome-text {
		h1 {
			font-size: 3rem;
		}
		#greet {
			:first-child {
				font-size: 2rem;
			}
			& > :not(:first-child) {
				font-size: 1.3rem;
			}
		}
	}
	#root-texts {
		max-height: 500px;
	}
}
@media screen and (max-height: 830px) {
	#root-texts {
		padding: 1.7em 1.5em;
	}
	#welcome-text {
		h1 {
			font-size: 1.6rem;
			margin-bottom: 5px;
		}
		#greet {
			p:first-of-type {
				font-size: 1.2rem;
				margin-bottom: 0px;
			}
			:not(p:first-of-type) {
				font-size: 1rem;
				line-height: normal;
			}
		}
		a {
			margin-top: 1em;
		}
	}
}

@media screen and (max-height: 920px) {
	#welcome-text {
		h1 {
			font-size: 1.6rem;
		}
		#greet {
			:first-child {
				font-size: 1.3rem;
			}
			& > :not(:first-child) {
				font-size: 1.2rem;
			}
		}
		a {
			font-size: 0.8rem;
			padding: 10px 12px;
		}
	}
	.enganyo {
		h2 {
			font-size: 1rem;
			margin-bottom: 0.4em;
		}
		p {
			font-size: 0.8rem;
		}
	}
}
@media screen and (max-width: 1090px) {
	.enganyo {
		flex-direction: column;
	}
	#welcome-text {
		h1 {
			font-size: 1.8rem;
		}

		#greet {
			:first-child {
				font-size: 1.3rem;
			}
		}
	}
}
